.grid-full{
  grid-column: 1 / 5;
}
.grid-half1{
  grid-column: 1 / 3;
}
.grid-half2{
  grid-column: 3 / 5;
}
.justify-self-center{
  justify-self: center;
}
a{
  display:inline;
  color: #007bff;
  text-decoration: none;
}
.pb-20{
  padding-bottom: 16px;
}
.justify-self-start{
  justify-self: start;
}
.justify-self-end{
  justify-self: end;
}
.ds{
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #666;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 14px;
}
.gridiron{
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8vh auto;
  margin: 0 auto;
}

.nav-link:hover{color:#0056b3;}
.nav-link {
  font-size: 1.5rem;
  /* display: block; */
  padding: .5rem 1rem;
}